.content-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.section-spacing {
  margin-bottom: 8rem;
}

.section-spacing:last-of-type {
  margin-bottom: 4rem;
}
