.App {
  text-align: center;
}

.sphere {
  position: absolute;
  border-radius: 50%;
}

.content-wrapper {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8); /* Slight background to hide spheres behind */
  width: 100%;
  display: flex;
}





